.icone{
    max-width: 100px;
  
}
.img2{
    width: 600px;
    margin: 100px auto;
    display: block;
    
}
h2,p{
    text-align: center;
    color: aliceblue;
}
h1{ 
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}
.header{
    background-color: brown;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}
.aranha{
    text-align: center;
}
.filme1{
    width: 400px;
 margin: 0 auto;
  display: block;
}
.titulo1{
    color: aliceblue;
    text-align: center;

}
.filmelista1{
    text-align:left ;
    
}
.filmelista{
    text-align: left;
    max-width: 600px;
}
.lupa{
    width: 30px;
    margin:0px;
}
button{
    background-color: rgb(187, 18, 18);
    cursor: pointer;
    margin: 4px 9px;
    height: 40px;
}
button:hover{
    background-color: red; 
    
}
input{
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    height: 10px;
}
body{
    background-position: center;
    background-image: url(xtrafondos.com.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
}
li{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: start;
}

img{
    width: 400px;
}
 .imagem{
    border-radius: 50%;
 }
.p1{
    max-width: 9920px;
    text-align: center;
    margin: 0 auto;
}
.texto{
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
}



.sugestoes-pesquisa{
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 18px;
    left: 0px;
    width: 180px;
    padding: 12px;
    display: none;
    border-radius: 12px;
}

.sugestoes-pesquisa li{
    color: black !important;
}

.barra-pesquisa{
    position: relative;
}

.barra-pesquisa:focus-within .sugestoes-pesquisa {
    display: block;
}

.aranha{
    width: 40px;
    height: 40px;
    display: block;
    transition: 1s ease;
    position: absolute;
    top: 0px;
    opacity: 0;
}

.teste:hover .aranha{   
    top: 180px;
    opacity: 1;
    scale: 1.5;
}
.lista-filmes{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 100px;
}